.city {
    background: url("/resources/image/city.jpg") no-repeat;
    background-size: 100%;
    height: 100%;
}

.city div{
    /*margin: 0 auto;*/
    /*text-align: center;*/
    /*padding-top: 20%;*/
}

.input-search {
    margin: 0 auto;
    width: 30%;
    /*padding-top: 20%;*/
    opacity: 0.8;
    display: inline-block;
    text-align: center;
}

.top-mini-header div a {
    color: white;
    font-size: 20px;
    margin: 50px 30px 20px 0px;
}

.top-mini-header div a:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
}